body{ 
 
    background-color:#fff;
    font-family: Roboto,sans-serif;
    color:#434455;
    font-style: normal;
    box-sizing: border-box;
    margin: 0 auto;}


ul{list-style-type: none;}

a{text-decoration: none;}

h1,h2,h3,p{
    margin-top: 0;
    margin-bottom: 0;}

ol,ul{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    }

img{
    display: block;
    max-width: 100%;
    }

.container{
    max-width: 1158px;
    margin-left: auto;
    margin-right:  auto;
    padding: 0 15px;
    }
/* header */
.header{
    border-bottom: 1px solid  #E7E9FC;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.header-conteiner{display: flex;
    align-items: center;
    justify-content: space-between;
    }
.nav{
    align-items: center;
    display: flex;
    }

.logo-web{
    color:#404bbf;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
    }

.logo-studio{
    color:#2E2F42;
    }
.studio{ position: relative;
    color:#404bbf;
    }
.studio::after { width: 100%;
    position:absolute;
    content:'';
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color:#404bbf;
    }
.social-links .link{ position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    }

.social-links .link:hover,
.social-links .link:focus{
    color:#404BBF;}
.social-links{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    }

 .address-links{
    display: flex;
    gap: 40px;}
.link{
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.link:hover, 
.link:focus {color:#404BBF;
    }
.section{ 
    padding-top: 120px;
    padding-bottom: 120px;}
    /* hero */
.hero{
    background-color:#2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom,
        rgba(46,47,66,0.7),
        rgba(46,47,66,0.7)),
         url(../images/peopleoffice1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    background-position: center;
    }

 
.title-hero{
    max-width: 496px;
    color:#ffffff;   
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    margin: 0 auto;
    }

.button{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    padding: 16px 32px;    
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
     color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    background-color:#4D5AE5;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    transition-property: background-color;
    transition-duration: 250ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.button:hover,
.button:focus{ 
    background-color:#404BBF;
    }
        
        /* ADVANTAGES */
.visually-hidden{ 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    }
.advantages-kont{ padding-left: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    }
 .advantages-kont-link{
    width: calc((100% - 72px) / 4);
    }
.advantages-title{
    align-items: flex-start;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 8px;
    }
.advantages-text{
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    align-items: flex-start;
    }
.icon-advantages{ fill:#2E2F42;
    flex-shrink: 0;}
.icon-frame{display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;border-radius: 4px;
    border: 1px solid  #8E8F99;
    background-color:#F4F4FD;
    margin-bottom: 8px;
    }
/* TEAM */
.section-team{
    background:#F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
    display: block;
    }
    
 .card-content{
    padding: 32px 0;
    text-align: center;
    }
.team-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing:0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
    }
.team-cont{
    display: flex;
    padding-left: 0; 
    gap: 24px;
    }
.team-card{ background-color: #FFFFFF;
    padding-bottom: 0px;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
.trailing-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 8px;
    padding-left: 0;
    }
.social-list-icon{ fill:#f4f4fd;}
.elips{ 
    width: 40px;
    height: 40px;
    }
.elips-soc{
    width: 100%;
    height: 100%;
    background-color:#4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.elips-soc:focus,
.elips-soc:hover{
    background-color: #404bbf;}

.portfolio-section{
    background-color:#FFF;
 padding-top: 120px;
padding-bottom: 120px;}
   
.portfolio-title{ display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
    }
 .portfolio-cont{ 
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
    }
.portfolio-card{
    width: calc((100% - 48px) / 3);
    padding-bottom: 0px;
    flex-shrink: 0;
    background:#FFF;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.portfolio-card:hover{ 
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }

.portfolio-over{ 
    position: relative;
    overflow: hidden;
    }

.portfolio-over:hover .overley{
    transform: translateY(0%);
    }

.overley{
    position: absolute;
    top: 0; 
    left: 0;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#F4F4FD;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 40px;
    background-color:#4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.portfolio-card-content{
    max-width: 360px;
    display: flex;
    padding: 32px 16px;
    flex-direction: column;    
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid #e7e9fc;
    border-top: none;
    }
.portfolio-title-card{
    text-align: center;
    font-size:20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 8px
    }
.portfolio-text{
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    }
/* footer */
.footer{ 
   
    background-color:#2e2f42; 
    padding: 100px 0;
    }

.logo-web-footer{
    display: inline-block;
    margin-bottom: 16px;
    color:#4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
}

.logo-studio-footer{
    color:#f4f4fd;
}

.text-footer{
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    max-width: 264px;
    }
   .social-media {width: 208px;
    }
   .social-media-title {color:#FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;}
.trailing-icons-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 8px;
    padding-left: 0;
}
.logo-p {width: 264px;
    margin-right:120px ;}
.footer-k {
    display: flex;
    flex-direction: row;
    align-items: baseline;}

.elips-foot:focus,
.elips-foot:hover{
    background-color: #31d0aa;
}
    

.elips-foot{ 
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* mail window */
.mail-input-window {
    width: 453px;
    height: 80px;
    margin-left: 80px;
}
.modal-footer-subscribe-text{
    color:  #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.modal-footer-form{
    display: flex;
    flex-direction: row;
    
}

.subscribe-input{
    display: flex;
    flex-direction: column;
}
.modal-subscribe-input-email{
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.04em;
    padding-left: 16px;
    background-color: transparent;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: 0px solid transparent;
    transition: border-color 250ms linear;
    }
.modal-subscribe-input-email::placeholder{
    color: #ffffff;
}


.modal-subscribe-input-email:focus{
border-color: #4D5AE5;
}
.submit-button{
    align-items: end;
}
.subscribe-buttom {
    font-family: "Roboto", sans-serif;
    margin-left: 24px;
    color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
min-width: 165px;
    height: 40px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
   
    border-radius: 4px;
background-color: #4D5AE5;
    cursor: pointer;
    border: none;
}
.subscribe-buttom:hover {
background: #404BBF;
}
.subscribe-buttom-icon{
    fill: #FFF;
    margin-left: 16px;
}
        /* backdrop styles */
.backdrop {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    height:100%;
background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
z-index: 999;}
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/* modal window stiles */
.modal{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn{ display: flex;
background-color: #E7E9FC;
padding: 0;
fill: black;
border: 1px solid rgba(0, 0, 0, 0.1);
line-height: 0;
position: absolute;
top: 24px;
right: 24px;
border-radius: 50%;
width: 24px;
height: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 border 250ms cubic-bezier(0.4, 0, 0.2, 1);
align-items: center;
justify-content: center;
cursor: pointer;
}
.modal-close-btn:hover,
.modal-close-btn:focus{
    fill: white;
    background-color: #404bbf;
    border: none;
}
.modal-close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    background: transparent;
}
.rewiew-form-fild-wrapper{
    margin-bottom: 8px;
}
.modal-form-fild-label{
    display: block;
    color:  #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
.texteria-form-fild-wrapper{
    margin-bottom: 16px;
}
.form-text{
    color:  #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    width: 360px;
    margin-bottom: 16px;
    line-height: 1.5;
}
.modal-form-input{
    width: 100%;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}
.modal-form-input:focus {
    border-color:#4D5AE5;
}
.rewiew-form-fild-input-wrapper{
    position: relative;
}
.review-form-input-icon{
    position: absolute;
    top:50%;
    left:16px;
    transform: translateY(-50%);
    fill: black;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .review-form-input-icon{
fill: #4D5AE5;
}
.modal-form-comment{
        color: rgba(46, 47, 66, 0.40);
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
    width:100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}
.modal-form-comment::placeholder{
    color: rgba(46, 47, 66, 0.40);
}
.modal-form-comment:focus{
    border-color: #4D5AE5;
}
.modal-form-checkbox-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}
.review-form-own-checkbox{ 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: transparent;
      background-color: #F4F4FD;
}
.checkbox-police:checked+ 
.checkbox-label> 
.review-form-own-checkbox{ 
    background-color: #404bbf;
border: none;
fill: #F4F4FD;
}
.checkbox-police:focus+.checkbox-label>
.review-form-own-checkbox{
    outline: 1px solid #4D5AE5 ;
}
.review-form-own-checkbox-icon{
fill: #f4f4fd;
}

.accent-color{
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}
.checkbox-label{
color:  #8E8F99;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-buttom{
min-width: 169px;
height: 56px;
   padding: 16px 32px;
   justify-content: center;
   border-radius: 4px;
   background: #4D5AE5;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-button{
    display: flex;
    width: 100%;
    justify-content: center;
}